{
    "rules": {
        "camelcase": 0,
        "no-loop-func": 0,
        "no-alert": 0,
        "no-underscore-dangle": 0
    },
    "globals": {
        "GAME": true,
        "stage": true,
        "block_size": true,
        "rects": true,
        "createjs": true,
        "drawed_lines",
        "player_name",
        "ga": true,
        "$": true,
        "loader": true,
        "is_new_game": true,
        "w": true,
        "h": true,
        "var2": false
    }
}